.header-container {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 100px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #cdcdcd29;
  opacity: 1;
}
.header-log {
  top: 29px;
  left: 79px;
  width: 32px !important;
  height: 42px !important;
}
.header-div {
  top: 29px;
  left: 79px;
  width: 107px;
  height: 42px;
  opacity: 1;
}

.header-text {
  top: 40px;
  left: 116px;
  width: 70px;
  height: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 24px/6px Stem-Medium;
  text-align: left;
  font: normal normal normal 24px/6px Stem-Medium;
  letter-spacing: 0.48px;
  color: #0a1a3f;
  text-transform: capitalize;
  opacity: 1;
}
